doctype
html
    head
        title Web Design Prompt        
        meta(charset="utf-8")
        meta(name="viewport", content="width=device-width, initial-scale=1")
        link(rel="stylesheet", href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css")
        link(rel="stylesheet", href="styles.css")
        link(rel="stylesheet" href="https://ajax.googleapis.com/ajax/libs/jqueryui/1.11.4/themes/smoothness/jquery-ui.css")
        script(src="https://ajax.googleapis.com/ajax/libs/jquery/2.2.0/jquery.min.js")
        script(src="https://ajax.googleapis.com/ajax/libs/jqueryui/1.11.4/jquery-ui.min.js")
        
        
    body
        .wrapper
            .text-wrapper
                .text
                    
                    p.top  Web Design Prompts 
                    
                    p.sub Stuck in a design rut? Me too. Why do you think I made this site?
                    hr
                    span Design a <div class="update" id="type"></div> website, for <div class="update" id="what"></div> with a <div class="update" id="color"></div> color scheme, featuring a <div class="update" id="featuring"></div>.
                    
                    
            a(href=""):.button
                .circle 
                     .glyphicon.glyphicon-refresh

        script(src='js/scripts.js')
       
